body{
<<<<<<< HEAD
    color: green;
=======
    color: white;
>>>>>>> 57208e68f8544b688e277ca76acdef3e126cda53
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: red;
}
